---
// src/layouts/BaseLayout.astro
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <!-- <Navigation /> -->
    <main class="flex-grow max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <div class="prose">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>